<h2>Preferences</h2> <br/>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
    <%= f.label :name %>
    <div class="field">
      <%= f.text_field :first_name, placeholder: 'First Name', autofocus: true %>
    </div>

    <div class="field">
      <%= f.text_field :last_name, placeholder: 'Last Name' %>
    </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
  <br/>
  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <% if @minimum_password_length %>
        <%= @minimum_password_length %> characters minimum
    <% end %><br/>
    <%= f.password_field :password, placeholder: 'New Password', autocomplete: "off" %>
  </div>

    <div class="field">
    <%= f.password_field :password_confirmation, placeholder: 'Confirm Password', autocomplete: "off" %>
  </div>
<br/>
  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div><br/>
<% end %>


<h3>Unhappy? Cancel your account</h3>
<%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %> <br/>

<p id="BackToDash">
  <%= link_to "Back To Dashboard", :back %>
</p>
