<div class="container">
  <div class="row">
    <div class="col-xs-offset-3 col-xs-6" id="login">
      <div class="row logoContainer">
          <%= image_tag "AgileMissfitsLogo.png", alt: "Logo" %>
      </div>
      <div class="row">
        <div class="col-xs-offset-2 col-xs-8">
          <h2>Sign up</h2>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= devise_error_messages! %>

              <div class="field">
                <%= f.text_field :first_name, placeholder: 'First Name', autofocus: true %>
              </div>

              <div class="field">
                <%= f.text_field :last_name, placeholder: 'Last Name' %>
              </div>

              <div class="field">
                <%= f.email_field :email, placeholder: 'Email'%>
              </div>

              <div class="field">
                <% if @minimum_password_length %>
                    <% @chars_left = "Password: " + "( " + @minimum_password_length.to_s + " characters minimum )" %>
                <% end %>
                <%= f.password_field :password, placeholder: @chars_left , autocomplete: "off" %>
              </div>

              <div class="field">
                <%= f.password_field :password_confirmation, placeholder: :password_confirmation, autocomplete: "off" %>
              </div>

              <div class="actions">
                <%= f.submit "Sign up" %>
              </div>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div id="social-media">
          <%= link_to (image_tag "FB-f-Logo__blue_29.png", alt: "Facebook Logo", :class => "col-xs-offset-5"), "https://www.facebook.com/"  %>
          <%= link_to (image_tag "Twitter_Logo_White_On_Blue.png", alt: "Twitter Logo", :class => "twitter"), "https://twitter.com/" %>
        </div>
      </div>
      <div class="render_links">
      <%= render "devise/shared/links" %>
      </div>
      <div class="row">
        <div class="col-xs-offset-2 col-xs-8">
          <p class="col-xs-6 login-footer">&copy;2017 Agile Missfits</p>
          <%= link_to 'Contact Us', page_account_path, class: "col-xs-3 login-footer" %>
          <%= link_to 'Privacy Policy', page_account_path, class: "col-xs-3 login-footer" %>
        </div>
      </div>
    </div>
  </div>
</div>