<nav class="navbar navbar-default navbar-fixed-top shadow" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to (image_tag "logo-placeholder.png", alt: "Home button logo"), root_path, class: "navbar-brand" %>
  </div>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="sf-menu nav navbar-nav">
      <li class="dropdown">
        <%= link_to (image_tag "account-icon.png", alt: "Account icon", class: "account-icon") + "Account", "#", class: "dropdown-toggle", data: {toggle: "dropdown"} %>
        <ul class="dropdown-menu dropdown-menu-right">
          <li><%= link_to "Logout", destroy_user_session_path, :method => :delete%></li>
            <!-- <%# if user_signed_in? %>-->
              <li><%= link_to "Preferences", edit_user_registration_path %></li>
          <!--<%# end %>-->
        </ul>
      </li>
      <li><%= link_to (image_tag "dashboard-icon.png", alt: "Dashboard icon", class: "dashboard-icon") + "Dashboard", root_path %></li>
      <li><%= link_to page_contact_us_path do %>
            <%= (image_tag "map-icon.png", alt: "Map icon", class: "map-icon") %>
            <br/><span>Map</span>
        <% end %>
      </li>
      <li>
        <%= link_to (image_tag "courses.png", alt: "Courses icon", class: "dashboard-icon") + "Courses", courses_path %>
      </li>

      <li>
        <%= link_to (image_tag "calendar.png", alt: "Schedule icon", class: "dashboard-icon") + "Schedule", schedules_path %>
      </li>
    </ul>
  </div>
</nav>