<nav>
  <ul class="sf-menu">
    <li><%= link_to "Home", root_path %></li>
    <li> <%= link_to "Classes", page_classes_path %></li>
    <li> <%= link_to "People", page_people_path %></li>
    <li><%= link_to "Inbox", page_inbox_path %></li>
    <li><%= link_to "Account", new_user_session_path %></li>
    <li><%= link_to "Contact Us", page_contact_us_path %></li>
    <!--<ul>-->
    <!--<li>-->
    <!--<% if user_signed_in? %>-->
        <!--<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>-->
        <!--<% else %>-->
        <!--<%= link_to('Login', new_user_session_path) %>-->
        <!--<% end %>-->
    <!--</li>-->
    <!--<% if user_signed_in? %>-->
        <!--<li><%= link_to "Preferences", edit_user_registration_path %></li>-->
        <!--<li><%= link_to "Puzzle", new_puzzle_path %></li>-->
        <!--<% end %>-->
    <!--</ul>-->
  </ul>
</nav>