<div id="classes_container" class="container-fluid">
  <h3>My Classes</h3>
  <div class="row">
    <% if (current_user.try(:admin?)) %>
        <% current_user.schedules.each do |schedule| %>
            <div class="classes shadow col-xs-12 col-sm-3">
              <div class="class_name">
                <%= schedule.course.course_name %>

                <%= schedule.course.all %>
              </div>
              <div class="recent_questions">
                <b> Pending Requests:</b>
                <% @schedules.each do |schedules| %>
                    <% if schedule.course_id == schedules.course_id && schedules.accepted == false %>
                        <% if schedules.accepted == false %>
                            <p>
                              <%= schedules.user.first_name  %>

                              <%= form_for schedules do |f| %>
                                  <%= f.hidden_field :accepted, value: false %>
                                  <%= f.submit 'Decline' %>
                              <% end %>

                              <%= form_for schedule do |f| %>
                                  <%= f.hidden_field :accepted, value: true %>
                                  <%= f.submit 'Accept' %>
                              <% end %>



                            </p>
                        <% end %>
                    <% end %>
                <% end %>
              </div>
            </div>
        <% end %>
    <% else %>
        <% current_user.schedules.each do |schedule| %>
            <% if schedule.accepted %>
                <div class="classes col-xs-12 col-sm-3">
                  <div class="class_name">
                    <%= schedule.course.course_name %>
                  </div>
                  <div class="recent_questions">
                    <b> Most recent question:</b>
                    <p>"when is the homework assignment due by?"</p>
                    by <b><%= schedule.user.first_name + " " + schedule.user.last_name %></b> <Br/>
                    posted <b>two hours ago</b>
                  </div>
                </div>
            <% else %>
                <div class="classes col-xs-12 col-sm-3">
                  <div class="class_name">
                    <%= schedule.course.course_name %>
                  </div>
                  <div class="recent_questions">
                    <b> Pending Approval</b>
                  </div>
                </div>
            <% end %>
        <% end %>
    <% end %>
  </div>
</div>
