<div class="container">
  <div class="row">
    <div class="col-xs-offset-3 col-xs-6" id="login">
      <div class="row">
        <div class="col-xs-2">
          <%= image_tag "logo-placeholder.png", alt: "Logo" %>
        </div>
        <div class="col-xs-8">
          <h1 class="text-center company-name">Agile Missfits</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-offset-2 col-xs-8">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="field">
                <%#= f.label :email %><br/>
                <%= f.email_field :email, placeholder: 'Email/Username' %>
                <%= link_to 'Forgot Username?' %>
              </div>

              <div class="field">
                <%#= f.label :password %><br/>
                <%= f.password_field :password, autocomplete: "off", placeholder: 'Password' %>
                <%= link_to 'Forgot Password?' %>
              </div>


              <%# if devise_mapping.rememberable? -%>
              <!--<div class="field">-->
              <%#= f.check_box :remember_me %>
              <%#= f.label :remember_me %>
              <!--</div>-->
              <%# end -%>
                <div class="actions col-xs-5">
                  <%= f.submit "Log in" %>
                </div>
                <div class="actions col-xs-offset-2 col-xs-5">
                  <%= f.button link_to "Sign Up", new_user_registration_path %>
                </div>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div id="social-media">
          <%= link_to (image_tag "FB-f-Logo__blue_29.png", alt: "Facebook Logo", :class => "col-xs-offset-5"), "https://www.facebook.com/"  %>
          <%= link_to (image_tag "Twitter_Logo_White_On_Blue.png", alt: "Twitter Logo", :class => "twitter"), "https://twitter.com/" %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-offset-2 col-xs-8">
        <p class="col-xs-6 login-footer">&copy;2017 Agile Missfits</p>
        <%= link_to 'Contact Us', page_account_path, class: "col-xs-3 login-footer" %>
        <%= link_to 'Privacy Policy', page_account_path, class: "col-xs-3 login-footer" %>
        </div>
      </div>
    </div>
  </div>
</div>
