<!DOCTYPE html>
<html>
<head>
  <title>Agile Missfits</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all'%>
  <%= javascript_include_tag 'application', media: 'all' %>
</head>

<body>
<%= render 'shared/nav' %>
<p class="notice"><%= notice %></p>
<p class="notice">Welcome to your Dashboard <b><%= current_user.first_name %></b></p>
<p class="alert"><%= alert %></p>
<%= yield %>
</body>
</html>
